version: "3.4"

services:
  {{ ansible_hostname }}_kube_proxy:
    image: gcr.io/google-containers/kube-proxy:{{ kube_proxy_version }}
    network_mode: "host"
    privileged: true
    volumes:
      - /etc/ssl/certs/api_server/rootCA.crt:/etc/ssl/certs/api_server/rootCA.crt
      - /etc/ssl/certs/api_server/kube_proxy.crt:/etc/ssl/certs/api_server/kube_proxy.crt
      - /etc/ssl/private/api_server/kube_proxy.key:/etc/ssl/private/api_server/kube_proxy.key
      - /var/lib/kube_proxy/kubeconfig:/var/lib/kube_proxy/kubeconfig
    command: [
      "kube-proxy",
      "--kubeconfig=/var/lib/kube_proxy/kubeconfig",
      "--master={{ groups['cluster-master'] | map('extract', hostvars, 'ansible_fqdn') | map('regex_replace', '^(.*)$', api_server_schema + '://\\1:' + api_server_port|string ) | join(',') }}", 
    ]      
