{% extends "kubeconfig.j2" %}

{% block users %}
users:
- name: kube_proxy
  user:
    client-key: /etc/ssl/private/api_server/kube_proxy.key
    client-certificate: /etc/ssl/certs/api_server/kube_proxy.crt
{% endblock %}

{% block contexts %}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kube_proxy
  name: kube_proxy-to-kubernetes

current-context: kube_proxy-to-kubernetes    
{% endblock %}