[Unit]
Description=Kube scheduler service docker container
Requires=docker.service
After=docker.service
[Service]
Restart=always
ExecStart=/usr/local/bin/docker-compose -f {{ ansible_env.HOME }}/{{ kube_proxy_dir }}/docker-compose.yml up
ExecReload=/usr/local/bin/docker-compose -f {{ ansible_env.HOME }}/{{ kube_proxy_dir }}/docker-compose.yml restart
ExecStop=/usr/local/bin/docker-compose -f {{ ansible_env.HOME }}/{{ kube_proxy_dir }}/docker-compose.yml stop
[Install]
WantedBy=default.target