{% extends "kubeconfig.j2" %}

{% block users %}
users:
- name: kubelet
  user:
    client-key: /etc/ssl/private/api_server/kubelet.key
    client-certificate: /etc/ssl/certs/api_server/kubelet.crt
{% endblock %}

{% block contexts %}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubelet
  name: kubelet-to-kubernetes

current-context: kubelet-to-kubernetes    
{% endblock %}