version: "3.4"

volumes:
  etcd_volume:
  
services:
  {{ etcd_name }}:
    image: quay.io/coreos/etcd:{{ etcd_version }}
    ports:
        - {{ etcd_client_port }}:{{ etcd_client_port }}
        - {{ etcd_server_port }}:{{ etcd_server_port }}
    network_mode: "host"
    volumes:
      - /etc/ssl/certs/etcd/rootCA.crt:/etc/ssl/certs/etcd/rootCA.crt
      - /etc/ssl/certs/etcd/etcd.crt:/etc/ssl/certs/etcd/etcd.crt
      - /etc/ssl/private/etcd/etcd.key:/etc/ssl/private/etcd/etcd.key
      - etcd_volume:/etcd-data      
    env_file:
      - etcd_node.env      
{% if inventory_hostname in groups['etcd-master'] %}
      - etcd_master.env
{% else %}
      - etcd_proxy.env
{% endif %}