ETCD_NAME={{ etcd_name }}
ETCD_CLIENT_CERT_AUTH=true
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_TRUSTED_CA_FILE=/etc/ssl/certs/etcd/rootCA.crt
ETCD_PEER_TRUSTED_CA_FILE=/etc/ssl/certs/etcd/rootCA.crt
ETCD_CERT_FILE=/etc/ssl/certs/etcd/etcd.crt
ETCD_PEER_CERT_FILE=/etc/ssl/certs/etcd/etcd.crt
ETCD_KEY_FILE=/etc/ssl/private/etcd/etcd.key
ETCD_PEER_KEY_FILE=/etc/ssl/private/etcd/etcd.key
ETCD_LISTEN_CLIENT_URLS={{ etcd_schema }}://0.0.0.0:{{ etcd_client_port }}
ETCD_INITIAL_CLUSTER={% for host in groups['etcd-master'] %}{{ host }}_etcd={{ etcd_schema }}://{{hostvars[host]['ansible_fqdn']}}:{{ etcd_server_port }}{% if not loop.last %},{% endif %}{% endfor %}