ETCD_ADVERTISE_CLIENT_URLS={{ etcd_schema }}://{{ ansible_fqdn }}:{{ etcd_client_port }}
ETCD_LISTEN_PEER_URLS={{ etcd_schema }}://0.0.0.0:{{ etcd_server_port }}
ETCD_INITIAL_ADVERTISE_PEER_URLS={{ etcd_schema }}://{{ ansible_fqdn }}:{{ etcd_server_port }}
ETCD_HEARTBEAT_INTERVAL={{ etcd_heartbeat_interval }}
ETCD_ELECTION_TIMEOUT={{ etcd_election_timeout }}