[Unit]
Description=Flannel service
Requires=docker.service
After=docker.service
[Service]
ExecStart=/usr/local/bin/flanneld --iface={{ ansible_host }} --etcd-endpoints {{ groups['etcd-master'] | map('extract', hostvars, 'ansible_host') | map('regex_replace', '^(.*)$', etcd_schema + '://\\1:' + etcd_client_port|string ) | join(',') }} --etcd-cafile=/etc/ssl/certs/etcd/rootCA.crt --etcd-certfile=/etc/ssl/certs/etcd/flannel.crt --etcd-keyfile=/etc/ssl/private/etcd/flannel.key
Restart=always
KillMode=process
RestartSec=5s
StartLimitInterval=0
[Install]
WantedBy=default.target