version: "3.4"

services:
  {{ ansible_hostname }}_kube_scheduler:
    image: gcr.io/google-containers/kube-scheduler:{{ kube_scheduler_version }}
    network_mode: "host"
    volumes:
      - /etc/ssl/certs/api_server/rootCA.crt:/etc/ssl/certs/api_server/rootCA.crt
      - /etc/ssl/certs/api_server/kube_scheduler.crt:/etc/ssl/certs/api_server/kube_scheduler.crt
      - /etc/ssl/private/api_server/kube_scheduler.key:/etc/ssl/private/api_server/kube_scheduler.key
      - /var/lib/kube_scheduler/kubeconfig:/var/lib/kube_scheduler/kubeconfig
    command: [
      "kube-scheduler",
      "--kubeconfig=/var/lib/kube_scheduler/kubeconfig",
      "--master={{ groups['cluster-master'] | map('extract', hostvars, 'ansible_fqdn') | map('regex_replace', '^(.*)$', api_server_schema + '://\\1:' + api_server_port|string ) | join(',') }}", 
    ]      
