{% extends "kubeconfig.j2" %}

{% block users %}
users:
- name: kube_scheduler
  user:
    client-key: /etc/ssl/private/api_server/kube_scheduler.key
    client-certificate: /etc/ssl/certs/api_server/kube_scheduler.crt
{% endblock %}

{% block contexts %}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kube_scheduler
  name: kube_scheduler-to-kubernetes

current-context: kube_scheduler-to-kubernetes    
{% endblock %}