apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority: ../ssl/api_server/rootCA.crt
      server: {{ api_server_schema }}://{{ groups['cluster-master'] | map('extract', hostvars, 'ansible_fqdn') | first }}:{{ api_server_port }}
    name: {{ cluster_name }}

users:
- name: kubectl
  user:
    client-key: ../ssl/api_server/kubectl.key
    client-certificate: ../ssl/api_server/kubectl.crt

contexts:
- context:
    cluster: {{ cluster_name }}
    user: kubectl
  name: kubelet-to-kubectl

current-context: kubelet-to-kubectl