version: "3.4"

services:
  {{ api_server_name }}:
    image: gcr.io/google-containers/kube-apiserver:{{ api_server_version }}
    ports:
      - "{{ api_server_port }}:{{ api_server_port }}"
    network_mode: "host"
    volumes:
      # Etcd
      - /etc/ssl/certs/etcd/rootCA.crt:/etc/ssl/certs/etcd/rootCA.crt
      - /etc/ssl/certs/etcd/api_server.crt:/etc/ssl/certs/etcd/api_server.crt
      - /etc/ssl/private/etcd/api_server.key:/etc/ssl/private/etcd/api_server.key
      # Api server
      - /etc/ssl/certs/api_server/rootCA.crt:/etc/ssl/certs/api_server/rootCA.crt
      - /etc/ssl/certs/api_server/api_server.crt:/etc/ssl/certs/api_server/api_server.crt
      - /etc/ssl/private/api_server/api_server.key:/etc/ssl/private/api_server/api_server.key
      # Service account
      - /etc/ssl/private/api_server/service_account.key:/etc/ssl/private/api_server/service_account.key
    command: [
      "kube-apiserver",
      "--anonymous-auth=false",
      # Etcd
      "--etcd-cafile=/etc/ssl/certs/etcd/rootCA.crt",
      "--etcd-keyfile=/etc/ssl/private/etcd/api_server.key",
      "--etcd-certfile=/etc/ssl/certs/etcd/api_server.crt",
      "--etcd-servers={{ groups['etcd-master'] | map('extract', hostvars, 'ansible_fqdn') | map('regex_replace', '^(.*)$', etcd_schema + '://\\1:' + etcd_client_port|string ) | join(',') }}", 
      # Client auth
      "--client-ca-file=/etc/ssl/certs/api_server/rootCA.crt",
      "--tls-private-key-file=/etc/ssl/private/api_server/api_server.key",
      "--tls-cert-file=/etc/ssl/certs/api_server/api_server.crt",
      "--bind-address={{ ansible_host }}",
      "--secure-port={{ api_server_port }}", 
      "--service-cluster-ip-range={{ api_server_cluster_ip_range }}",
      # Ключ для шифровки токенов между
      "--service-account-key-file=/etc/ssl/private/api_server/service_account.key"
    ]      
