apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority: /etc/ssl/certs/api_server/rootCA.crt
      server: {{ api_server_schema }}://{{ groups['cluster-master'] | map('extract', hostvars, 'ansible_fqdn') | first }}:{{ api_server_port }}
    name: {{ cluster_name }}
    
{% block users %}{% endblock %}    
{% block contexts %}{% endblock %}
