{% extends "ssl.conf.j2" %}

{% block common_name_default %}
commonName_default          = {{ ansible_fqdn }}
{% endblock %}

{% block alt_name %}
DNS.1 = {{ ansible_fqdn }}
IP.1  = {{ ansible_host }}
{% endblock %}