[ req ]
default_bits     = 4096
default_md       = sha512
distinguished_name = req_distinguished_name


[ req_distinguished_name ]
countryName                 = Country Name (2 letter code)
countryName_default         = {{ ssl_country_name }}
stateOrProvinceName         = State or Province Name (full name)
stateOrProvinceName_default = {{ ssl_state_name }}
localityName                = Locality Name (eg, city)
localityName_default        = {{ ssl_location_name }}
organizationName            = Organization Name (eg, company)
organizationName_default    = {{ ssl_organization_name }}
commonName                  = Common Name (e.g. server FQDN or YOUR name)
{% block common_name_default %}{% endblock %}
commonName_max              = 64

[ v3_ca ]
basicConstraints       = critical, CA:TRUE
keyUsage               = critical, digitalSignature, keyEncipherment, keyCertSign

[ client ]
basicConstraints       = CA:FALSE
extendedKeyUsage       = clientAuth
keyUsage               = digitalSignature, keyEncipherment

[ peer ]
basicConstraints       = CA:FALSE
extendedKeyUsage       = clientAuth, serverAuth
keyUsage               = digitalSignature, keyEncipherment
subjectAltName         = @alt_names

[ server ]
basicConstraints       = CA:FALSE
extendedKeyUsage       = clientAuth, serverAuth
subjectKeyIdentifier   = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName         = @alt_names

[alt_names]
{% block alt_name %}{% endblock %}