version: "3.4"

services:
  {{ ansible_hostname }}_kube_controller_manager:
    image: gcr.io/google-containers/kube-controller-manager:{{ kube_controller_manager_version }}
    network_mode: "host"
    volumes:
      - /etc/ssl/certs/api_server/rootCA.crt:/etc/ssl/certs/api_server/rootCA.crt
      - /etc/ssl/certs/api_server/kube_controller_manager.crt:/etc/ssl/certs/api_server/kube_controller_manager.crt
      - /etc/ssl/private/api_server/kube_controller_manager.key:/etc/ssl/private/api_server/kube_controller_manager.key
      - /var/lib/kube_controller_manager/kubeconfig:/var/lib/kube_controller_manager/kubeconfig
      - /etc/ssl/private/api_server/service_account.key:/etc/ssl/private/api_server/service_account.key
    command: [
      "kube-controller-manager",
      "--kubeconfig=/var/lib/kube_controller_manager/kubeconfig",
      "--master={{ groups['cluster-master'] | map('extract', hostvars, 'ansible_fqdn') | map('regex_replace', '^(.*)$', api_server_schema + '://\\1:' + api_server_port|string ) | join(',') }}",
      # Ключ для шифровки токенов между api server и controller manager
      "--service-account-private-key-file=/etc/ssl/private/api_server/service_account.key"
    ]      
