{% extends "kubeconfig.j2" %}

{% block users %}
users:
- name: kube_controller_manager
  user:
    client-key: /etc/ssl/private/api_server/kube_controller_manager.key
    client-certificate: /etc/ssl/certs/api_server/kube_controller_manager.crt
{% endblock %}

{% block contexts %}
contexts:
- context:
    cluster: {{ cluster_name }}
    user: kube_controller_manager
  name: kube_controller_manager-to-kubernetes

current-context: kube_controller_manager-to-kubernetes    
{% endblock %}